{% extends 'base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
<html lang="en">
 <head>
        <meta charset="UTF-8">
        <title>AK Technologies</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
 <body>
 <style>
        body {
            background-color: beige;
        }
    </style>
<h1> Password Reset Request Page</h1>
 <p> Please enter your registered e-mail ID. We will send you a reset link. </p>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
 </body>
{% endblock %}
</html>