{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<html lang="en">
 <head>
        <meta charset="UTF-8">
        <title>AK Technologies</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
 <body>

  <style>
        body {
            background-color: aliceblue;
        }
    </style>
<h1>Change your password</h1>
  <p>Use the form below to change your password.</p>
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            <p> If you don't remember your old password, use the <a href="{% url 'password_reset' %}">Forgot password</a> facility</p>
            {{ form.as_p }}
                    <p> <input type="submit" value="Change Password!"/></p>
            {% csrf_token %}
        </form>
 </body>
{% endblock %}
</html>