{% extends 'base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
<html lang="en">
 <head>
        <meta charset="UTF-8">
        <title>AK Technologies</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
 <body>
 <style>
        body {
            background-color: aliceblue;
        }
    </style>
 <h1>   </h1>
  <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
 </body>
{% endblock %}
</html>