{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<html lang="en">
 <head>
        <meta charset="UTF-8">
        <title>AK Technologies</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
 <body>

  <style>
        body {
            background-color: aliceblue;
        }
    </style>



  <h1>The password has been changed!</h1>
  <p><a href="{% url 'login' %}">log in again?</a></p>
 </body>
{% endblock %}
</html>