{% extends 'base.html' %}

{% block title %}Assignment List{% endblock title %}

{% block content %}
 <html>
    <head>
        <meta charset="UTF-8">
        <title>AK Technologies</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>
    <style>
        body {
            background-color: aliceblue;
        }
    </style>

    <ul class="object-tools">
        <li style = "float: right;">
            <a href="#" onclick="window.print();">Print Details     </a>
            <br>
        </li>
    </ul>
    <div class="container">
        <p>
        <h2> Details of {{ employee.employee_name }}</h2>
        </p>
    </div>

    <div>

        <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="bg-info">
                <th>Employee Name </th>
                <th> {{ employee.employee_name }} </th>
            </tr>


        </thead>
          <tbody>     <tr> <td><b> Email ID </b> </td>
                                <td>{{ employee.Email }}</td></tr>
            <tr><td><b> Date of Joining </b></td> <td>{{ employee.DOJ }}</td></tr>
            <tr><td> <b> Project Manager </b> </td>  <td>{{ employee.Project_manager }}</td></tr>
          <tr><td> <b> Work Location </b> </td>   <td>{{ employee.Location }}</td></tr>
          <tr><td> <b> Current Designation </b> </td>  <td>{{ employee.Designation }}</td></tr>
            </tbody>
        </table>

     <div class="container">
        <p>
        <h2> Project Assignments of {{ employee.employee_name }}</h2>
        </p>
    </div>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Employee Name</th>
                <th>Allocation percentage</th>
                <th>Project Manager</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Project Name</th>
                <th>Comments</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for assignment in assignments %}
                <tr>
                    <td>{{ assignment.employee_name }}</td>
                    <td>{{ assignment.allocation_percentage }}</td>
                    <td>{{ assignment.Project_manager }}</td>
                    <td>{{ assignment.start_date }}</td>
                    <td>{{ assignment.end_date }}</td>
                    <td>{{ assignment.project_name }}</td>
                    <td>{{ assignment.comments }}</td>
                    <td><a href="{% url 'assignment_edit' pk=assignment.pk %}" class="btn btn-warning">Edit</a>
                    <td><a href="{% url 'assignment_delete' pk=assignment.pk %}"
                        onclick="return confirm('Are you sure you want to delete?')"
                        class="btn btn-danger">Delete</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
 <p>
    <a href="{% url 'assignment_new' %}" class="btn btn-default">Create New Assignment</a>

    </p>
    </div>
        </body>
    </html>
{% endblock content %}